/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

/* CSS Variables */
:root {
  --default-background-color: #eafbff;
  --secondary-color: #5290f9;
  --default-time: 0.6s linear;
  --width-transition: width var(--default-time);
  --line-rotate: 765deg;
  --line-move: 5.5px;
}

/* CSS Declarations */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--default-background-color);
  background-image: linear-gradient(
    to bottom,
    var(--default-background-color) 0%,
    var(--default-background-color) 50%,
    var(--secondary-color) 50%,
    var(--secondary-color) 100%
  );
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: white;
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: var(--width-transition);
}
nav.active {
  width: 350px;
}

nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: var(--width-transition);
}
nav.active > ul {
  width: 100%;
}
nav > ul > li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform var(--default-time), opacity var(--default-time);
}
nav.active > ul > li {
  transform: rotateY(360deg);
  opacity: 1;
}
nav > ul a {
  position: relative;
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color: white;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}
.icon:focus {
  outline: 0;
}
.icon > .line {
  background-color: var(--secondary-color);
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform var(--default-time);
}
.icon > .line2 {
  top: auto;
  bottom: 10px;
}
nav.active > .icon > .line1 {
  transform: rotate(calc(var(--line-rotate) * -1)) translateY(var(--line-move));
}
nav.active > .icon > .line2 {
  transform: rotate(var(--line-rotate)) translateY(calc(var(--line-move) * -1));
}
